<% include ../partials/user_nav %>

<div class="container">
  <div class="row">

    <div class="coverPic col-lg-12 col-md-12 col-sm-12">
    <img src="<%=user.profile_photo%>" height="250" width="1175"></img>
    </div>

    <div class="col-lg-2">
      <h4 class="username"> <%= user.first_name %> <%= user.last_name %> </h4>
        <div class="profilePic">
          <img src="<%=user.cover_photo%>" height="150" width="150"></img>
        </div>
    </div>

    <div class="col-lg-10">
      <h4>About Me</h4>
      <p>
        <pre><%= user.about_me %></pre>
      </p>
    </div>

  </div>
</div>


<script src="//ucarecdn.com/widget/1.5.0/uploadcare/uploadcare-1.5.0.min.js"></script>


<script>
  var widgets = uploadcare.initialize();

  uploadcare(null, {
    imagesOnly: true
  }).done(function(file) {
    console.log(file)
    file.promise().done(function(fileInfo){
      console.log(fileInfo.cdnUrl);
    });
  });
</script>

<script>
var $ = uploadcare.jQuery;
$('cover_img').append('fileInfo.cdnUrl')
</script>

<% include ../partials/footer %>